.keyword-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    li {
        a {
            color: $text;
            font-weight: 500;
            padding: 10px 25px;
            border-radius: 6px;
            background: $chalk;
            border: 1px solid $border;
            text-transform: capitalize;
            white-space: nowrap;
            @include transition;

            &:hover {
                color: $white;
                background: $primary;
            }
        }
    }
}

@media(max-width: 767px) {
    .keyword-list {
        gap: 12px;
        
        li {
            a { 
                font-size: 15px;
                padding: 8px 12px;
            }
        }
    }
}
