[Unit]
Description=Celery Service for Django
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/django_site_track
ExecStart=/home/django_site_track/venv/bin/celery --app=email_sender.tasks worker --loglevel=INFO -Q contact_us,celery

[Install]
WantedBy=multi-user.target





