// SITE DIRECTION
$direction: ltr;
$start-direction: left;
$end-direction: right;

// NAME COLOR
$red: #ff3838;
$gray: #a8aeb1;
$blue: #1494a9;
$dark: #0a0930;
$black: #000000;
$white: #ffffff;
$chalk: #f1f2f3;
$green: #11b76b;
$purple: #b12fad;
$orange: #e86121;
$yellow: #ffb100;
$indigo: #6610f2;

// CUSTOM COLOR
$text: #5e5d72;
$border: #e3e3e3;
$heading: #444444;
$primary: #477CDB;
$primary-light: #8bb5ff;
$red-light: #fff2fe;

// SOCIAL COLOR
$facebook: #3b5998;
$linkedin: #0e76a8;
$twitter: #00acee;
$google: #E60023;
$instagram: #F77737;
$whatsapp: #25D366;
$pinterest: #f0002a;
$youtube: #FF0000;

// BOX SHADOW
$primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

// TEXT SHADOW
$primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);  




