.blog-grid-card {
    margin-bottom: 25px;
    
    &:hover {
        .blog-grid-media {
            img { transform: scale(1.05); }
        }
    }
}

.blog-grid-media {
    position: relative;
    overflow: hidden;
    border-radius: 6px;

    &::before {
        @include position (absolute, 100%, 100%, 1);
        content: "";
        top: 0px;
        #{$start-direction}: 0px;
        border-radius: 6px;
        background: rgba($dark, .12);
    }

    img {
        width: 100%;
        border-radius: 6px;
        transform: scale(1);
        @include transition;
    }
}

.blog-grid-widget {
    position: absolute;
    top: 12px;
    #{$end-direction}: 12px;
    z-index: 1;

    li {
        @include flex (center, center);
        font-size: 14px;
        padding: 5px 8px;
        margin-bottom: 5px;
        border-radius: 4px;
        color: $chalk;
        background: rgba($dark, .5);

        i {
            font-size: 18px;
            margin-#{$end-direction}: 3px;
        }
    }
}

.blog-grid-content {
    padding: 22px 12px 0px;
}

.blog-grid-meta {
    @include flex(center, flex-start);
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
    margin-bottom: 18px;

    li {
        @include flex(center, flex-start);
        gap: 6px;

        i {
            font-size: 22px;
            color: $primary;
        }
        
        span {
            @include font(15px, 500);
            text-transform: uppercase;
            color: $text;

            a:hover { text-decoration: underline; }
        }
    }
}

.blog-grid-name { 
    margin-bottom: 18px;

    a { 
        color: $heading; 
        @include transition;

        &:hover { color: $primary; }
    }
}

.blog-grid-descrip { 
    a {
        text-transform: capitalize;
        font-weight: 500;
        color: $primary;
        @include transition;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media(max-width: 575px) {
    .blog-grid-content {
        padding: 22px 6px 0px;
    }

    .blog-grid-meta {
        margin-bottom: 12px;

        li {
            margin-#{$end-direction}: 15px;

            i {
                font-size: 18px;
                margin-#{$end-direction}: 3px;
            }

            span { font-size: 12px; }
        }
    }

    .blog-grid-name { font-size: 20px; }
}

@media(min-width: 768px) and (max-width: 991px) {
    .blog-grid-meta li {
        i { font-size: 20px; }
        span { font-size: 13px; }
    }
}

@media(min-width: 1200px) and (max-width: 1299px) {
    .blog-grid-grid li {
        margin-#{$end-direction}: 15px;
    }
}