{% extends 'base_inventory.html' %}
{% load static %}
{% block content %}

    <!--=====================================
                  ABOUT PART START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="about-media">
                        <img src="images/bg/video.jpg" alt="video">
                        <div class="about-overlay">
                            <a href="https://www.youtube.com/watch?v=0e0WLyn6eGQ" class="venobox material-icons" data-autoplay="true" data-vbtype="video">play_arrow</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="about-content">
                        <h3>Ghurnek has been standing on the trust of customers for the last 10 years</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, eligendi consectetur laboriosam qui optio illo provident impedit, vero nisi commodi delectus pariatur eum mollitia excepturi temporibus aspernatur, repudiandae animi. Quaerat sit rem doloremque repellat tenetur mollitia quae, provident quasi voluptatibus ducimus velit excepturi?</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4">
                <div class="col">
                    <div class="funfactor-card">
                        <i class="material-icons">drive_eta</i>
                        <h4>
                            <span class="funfactor-text">stock vehicles</span>
                            <span class="funfactor-data">2355</span>
                        </h4>
                    </div>
                </div>
                <div class="col">
                    <div class="funfactor-card">
                        <i class="material-icons">flag</i>
                        <h4>
                            <span class="funfactor-text">sold vehicles</span>
                            <span class="funfactor-data">7895</span>
                        </h4>
                    </div>
                </div>
                <div class="col">
                    <div class="funfactor-card">
                        <i class="material-icons">people</i>
                        <h4>
                            <span class="funfactor-text">happy clients</span>
                            <span class="funfactor-data">6567</span>
                        </h4>
                    </div>
                </div>
                <div class="col">
                    <div class="funfactor-card">
                        <i class="material-icons">forum</i>
                        <h4>
                            <span class="funfactor-text">total reviews</span>
                            <span class="funfactor-data">5467</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                  ABOUT PART END
    =======================================-->


    <!--=====================================
            ABOUT FEATURE PART START
    =======================================-->
    <section class="section-gap-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="section-center">
                        <h2>Why choose our service to sell or buy your favorite car</h2>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">fact_check</i>
                        <h3>amet perferen consect</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus explicabo ommodi perferendis, libero ullam, cum nam ab quam suscipit maxime.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">verified_user</i>
                        <h3>amet perferen consect</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus explicabo ommodi perferendis, libero ullam, cum nam ab quam suscipit maxime.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">report_problem</i>
                        <h3>amet perferen consect</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus explicabo ommodi perferendis, libero ullam, cum nam ab quam suscipit maxime.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">auto_stories</i>
                        <h3>amet perferen consect</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus explicabo ommodi perferendis, libero ullam, cum nam ab quam suscipit maxime.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">stars</i>
                        <h3>amet perferen consect</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus explicabo ommodi perferendis, libero ullam, cum nam ab quam suscipit maxime.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">rocket_launch</i>
                        <h3>amet perferen consect</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus explicabo ommodi perferendis, libero ullam, cum nam ab quam suscipit maxime.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
            ABOUT FEATURE PART END
    =======================================-->


    <!--=====================================
                REVIEW PART START
    =======================================-->
    <section class="section-gap-120 review-part">
        <div class="container">
            <div class="row review-slider slider-arrow">
                {% for review in fake_review %}
                <div class="col">
                    <div class="review-wrap">
                        <div class="review-wrap-image">
                            <img src="{{ review.get_image_url}}" alt="review">
                        </div>
                        <div class="review-wrap-content">
                            <div class="review-wrap-meta">
                                <div class="review-wrap-video">
{#                                    <a href="#" class="material-icons">play_arrow</a>#}
{#                                    <i class="material-icons">format_quote</i>#}
                                </div>
                                <div class="review-wrap-item">
                                    <h4>{{ review.name_sale }}</h4>
                                    <h5>{{ review.review_title }}</h5>
                                </div>
                            </div>
                            <p class="review-wrap-quote">" {{ review.review_text }} "</p>
                            <h3 class="review-wrap-user">{{ review.review_author }}</h3>
                            <h5 class="review-wrap-type">{{ review.review_author_red_text }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--=====================================
                REVIEW PART END
    =======================================-->


    <!--=====================================
                TEAM PART START
    =======================================-->
{#    <section class="section-gap-75">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">#}
{#                    <div class="section-center">#}
{#                        <h2>Some of our experienced people in Ghurnek management</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/01.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/02.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/03.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/04.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/05.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/06.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/07.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/08.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!--=====================================
                TEAM PART END
    =======================================-->


    <!--=====================================
                INTRO PART START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro-card" style="background: url('#') no-repeat center / cover;">
                        <div class="intro-overlay">
                            <div class="intro-content">
                                <h3>Want to sell your car quickly?</h3>
                                <p>Lorem ipsum dolor amet consectetur libero accusantium minima</p>
                            </div>
                            <a href="{% url 'create-sale-ads' %}" class="btn btn-inline">
                                <i class="material-icons">storefront</i>
                                <span>sell vehicless</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}