{% extends 'base_inventory.html' %}
{% load static %}
{% block content %}

    <!--=====================================
                  ABOUT PART START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/_1DDsesw-Pk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="about-content">
                        <h3>About us</h3>
                        <p>The employees of buymyfleet have a combined experience of 125 years in the buying and selling of commercial trucks and trailers. We have great experience in the marketing of commercial vehicles. Let is put our expertise to work for you in the disposal of your used equipment.</p>
                        <p>Why we started this site. We have noticed for years that there is a need for a cost effective way to help small to midsized fleet liquidate there used equipment.</p>
                        <p>Why and auction site? The used equipment market seems to change daily and price fluctuations can at times be huge. In different markets there are different prices , some higher than in your area and some lower. Let us market your trucks to a Nationwide audience to help you get the best value for your equipment</p>
                        <p>Why buymyfleet auction compared to the others ? Momentarily we are offering a no cost to all sellers of equipment , that right FREE to sellers while buyers will pay only a 150$ per month fee to purchase as many trucks as they choose. There are no buyers fees , no seller fees and no percentages.</p>
                        <p>Marketing , we will market your equipment to thousands of buyers across the USA. The seller will have a choice of who he wants to market the trucks to. To dealers only or to everyone that wants to buy. We will use all available tools to market your equipment to the right buyers</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-2">
                <div class="col">
                    <div class="funfactor-card">
                        <i class="material-icons">drive_eta</i>
                        <h4>
                            <span class="funfactor-text">Bought and Sold Trucks and trailers</span>
                            <span class="funfactor-data">9750</span>
                        </h4>
                    </div>
                </div>

                <div class="col">
                    <div class="funfactor-card">
                        <i class="material-icons">people</i>
                        <h4>
                            <span class="funfactor-text">happy clients</span>
                            <span class="funfactor-data">4650</span>
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--=====================================
                  ABOUT PART END
    =======================================-->


    <!--=====================================
            ABOUT FEATURE PART START
    =======================================-->
    <section class="section-gap-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="section-center">
                        <h2>Why choose us</h2>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">fact_check</i>
                        <h3>EXPERIENCE</h3>
                        <p>We have over 35 years experience in buying and selling trucks, let us work with you to help you buy or sell equipment</p>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">verified_user</i>
                        <h3>NEGOTIATIONS</h3>
                        <p>We will help you negotiate with buyers and sellers if a price cannot be agreed upon at the auction</p>
                        <br>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-card">
                        <i class="material-icons">report_problem</i>
                        <h3>PAYMENTS</h3>
                        <p>Payment is made directly to the seller there are no fees attached to the sale of equipment ! What you bid is what you will pay</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
            ABOUT FEATURE PART END
    =======================================-->




    <!--=====================================
                TEAM PART START
    =======================================-->
{#    <section class="section-gap-75">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">#}
{#                    <div class="section-center">#}
{#                        <h2>Some of our experienced people in Ghurnek management</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/01.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/02.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/03.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/04.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/05.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/06.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/07.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="team-card">#}
{#                        <figure class="team-media">#}
{#                            <img src="images/team/08.jpg" alt="team">#}
{#                            <div class="team-overlay">#}
{#                                <a href="#" class="icofont-facebook facebook"></a>#}
{#                                <a href="#" class="icofont-twitter twitter"></a>#}
{#                                <a href="#" class="icofont-linkedin linkedin"></a>#}
{#                            </div>#}
{#                        </figure>#}
{#                        <div class="team-meta">#}
{#                            <h4><a href="#">managment name</a></h4>#}
{#                            <p>designation</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!--=====================================
                TEAM PART END
    =======================================-->


    <!--=====================================
                INTRO PART START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro-card" style="background: url('#') no-repeat center / cover;">
                        <div class="intro-overlay">
                            <div class="intro-content">
                                <h3>NO OVERPRICED COMMISSION PERCENTAGES</h3>
                                <p>Many auctions charge the buyer and the seller of the equipment a substantial buyers fee and a seller must also pay . Good deal for the auction but not for the seller or buyer</p>
                            </div>
                            <a href="{% url 'create-sale-ads' %}" class="btn btn-inline">
                                <i class="material-icons">storefront</i>
                                <span>sell vehicles</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}