{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--=====================================
                META TAG PART START
    =======================================-->
    <!-- REQUIRED -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TEMPLATE -->
    <meta name="template" content="Ghurnek">
    <meta name="title" content="Ghurnek - Automotive Car Dealer HTML Template">
    <meta name="keywords" content="automotive, car, dealer, dealership, car dealership, html, template, auto, directory, inventory, listing, vehicle, inventory managment, bootstrap, classified ads">
    <!--=====================================
                META-TAG PART END
    =======================================-->

    <!-- WEBPAGE TITLE -->
    <title>{{ title }}</title>

    <!--=====================================
                CSS LINK PART START
    =======================================-->
    <!-- FAVICON -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <!-- FONTS -->
    <link rel="stylesheet" href="{% static 'fonts/typography/jost.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material/icon.css' %}">

    <!-- VENDOR -->
    <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>
<body>

    <div class="backdrop"></div>

    <!--=====================================
                HEADER PART STAR
    =======================================-->
    <header class="header-part">
        <a href="{% url 'home' %}" class="header-logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </a>
        <div class="header-content">
            <div class="header-responsive">
                <button type="button" class="header-widget sidebar-open">
                    <i class="material-icons">notes</i>
                    <span>menu</span>
                </button>
                <a href="{% url 'home' %}" class="responsive-logo">
                    <img src="{% static 'images/logo.png' %}" alt="logo">
                </a>
                <button type="button" class="header-widget responsive-srch">
                    <i class="material-icons">search</i>
                    <span>search</span>
                </button>
            </div>
            <form class="header-form">
                <div class="header-search">
                    <button type="submit" title="Search Submit" class="material-icons">search</button>
                    <input type="text" placeholder="Search, your Dreaming Car">
                    <select class="form-select">
                        <option value="all" selected>all type</option>
                        <option value="new">new type</option>
                        <option value="used">used type</option>
                    </select>
                    <button type="button" title="Search Option" class="advance-search material-icons">tune</button>
                </div>
                <div class="header-option">
                    <input type="text" placeholder="Max Price">
                    <input type="text" placeholder="Min Price">
                    <select class="form-select">
                        <option selected>makes</option>
                        <option value="1">all makes</option>
                        <option value="2">chevrolet</option>
                        <option value="3">bentley</option>
                        <option value="4">nissan</option>
                        <option value="5">honda</option>
                    </select>
                    <select class="form-select">
                        <option selected>models</option>
                        <option value="1">all models</option>
                        <option value="2">2 series</option>
                        <option value="3">4 runner</option>
                        <option value="4">camero</option>
                        <option value="5">elantra</option>
                    </select>
                    <button type="submit">search</button>
                </div>
            </form>
        </div>
         {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="header-user">
            <img src="{{ user.get_photo_url }}" alt="user">
            <span>logout</span>
        </a>
        {% else %}
            <a href="{% url 'sign-up' %}" class="header-user">
            <img src="{% static 'images/user.png' %}" alt="user">
            <span>join</span>
        </a>
        {% endif %}
        <a href="{% url 'create-sale-ads' %}" class="btn header-btn">
            <i class="material-icons">storefront</i>
            <span>sell vehicles</span>
        </a>
    </header>
    <!--=====================================
                HEADER PART END
    =======================================-->


    <!--=====================================
                SIDEBAR PART START
    =======================================-->
    <aside class="sidebar-part">
    <div class="sidebar-header">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
        <button class="sidebar-close material-icons">close</button>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-btn">
            <a href="{% url 'create-sale-ads' %}" class="btn btn-inline">
                <i class="material-icons">storefront</i>
                <span>sell vehicles</span>
            </a>
        </div>
        <nav class="sidebar-nav">

            <div class="sidebar-group">
                <h5 class="sidebar-title">main menu</h5>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">
                            <i class="material-icons">home</i>
                            <span class="nav-text">home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">inventory</i>
                            <span class="nav-text">inventory</span>
                            <span class="nav-arrow"></span>
                        </a>
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a href="{% url 'catalog'%}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>catalog</span>
                                </a>
                            </li>
                            <li class="drop-item">
                                <a href="{% url 'inventory-grid' 'track'%}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>inventory grid track</span>
                                </a>
                            </li>
                            <li class="drop-item">
                                <a href="{% url 'inventory-grid' 'trailer'%}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>inventory grid trailer</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">contact_support</i>
                            <span class="nav-text">support</span>
                            <span class="nav-arrow"></span>
                        </a>
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a href="{% url 'contact' %}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>contact us</span>
                                </a>
                            </li>
                            <li class="drop-item">
                                <a href="{% url 'privacy' %}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>privacy policy</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="material-icons">security</i>
                            <span class="nav-text">security</span>
                            <span class="nav-arrow"></span>
                        </a>
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a href="{% url 'login' %}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>login</span>
                                </a>
                            </li>
                            <li class="drop-item">
                                <a href="{% url 'sign-up' %}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>register</span>
                                </a>
                            </li>
                            <li class="drop-item">
                                <a href="{% url 'reset-password' %}" class="drop-link">
                                    <i class="material-icons">remove</i>
                                    <span>reset password</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="sidebar-group">
                <h5 class="sidebar-title">user menu</h5>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <span class="nav-text">dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account-profile' user.id %}" class="nav-link">
                            <i class="material-icons">account_circle</i>
                            <span class="nav-text">profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'create-sale-ads' %}" class="nav-link">
                            <i class="material-icons">note_add</i>
                            <span class="nav-text">create ads</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-posted-sale-ads' %}" class="nav-link">
                            <i class="material-icons">apps</i>
                            <span class="nav-text">posted ads</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'account-settings' %}" class="nav-link">
                            <i class="material-icons">settings</i>
                            <span class="nav-text">settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <i class="material-icons">lock</i>
                            <span class="nav-text">logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>
    <!--=====================================
                SIDEBAR PART END
    =======================================-->


    <!--=====================================
              FLOAT MENU PART START
    =======================================-->
    <div class="float-menu">
{#        <button type="button" class="float-widget badge-hover">#}
{#            <i class="material-icons">widgets</i>#}
{#            <span class="badge arrow-right">widgets</span>#}
{#            <sup>9</sup>#}
{#        </button>#}
        <ul class="float-list">
{#            <li class="float-item">#}
{#                <a href="compare.html" class="badge-hover">#}
{#                    <i class="purple material-icons">compare</i>#}
{#                    <span class="badge arrow-right">compare</span>#}
{#                    <sup>2</sup>#}
{#                </a>#}
{#            </li>#}
{#            <li class="float-item">#}
{#                <a href="favorite.html" class="badge-hover">#}
{#                    <i class="red material-icons">favorite</i>#}
{#                    <span class="badge arrow-right">favorite</span>#}
{#                    <sup>4</sup>#}
{#                </a>#}
{#            </li>#}
{#            <li class="float-item">#}
{#                <a href="notify.html" class="badge-hover">#}
{#                    <i class="orange material-icons">notifications</i>#}
{#                    <span class="badge arrow-right">notify</span>#}
{#                    <sup>3</sup>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </div>
    <!--=====================================
              FLOAT MENU PART END
    =======================================-->


    <!--=====================================
              MOBILE MENU PART START
    =======================================-->
    <div class="mobile-menu">
        <a href="{% url 'sign-up' %}">
            <i class="material-icons">person</i>
            <span>account</span>
        </a>
{#        <a href="notify.html">#}
{#            <i class="material-icons">notifications</i>#}
{#            <span>notify</span>#}
{#            <sup>9</sup>#}
{#        </a>#}
        <a href="{% url 'create-sale-ads' %}" title="sell vehicless">
            <i class="material-icons">storefront</i>
        </a>
{#        <a href="compare.html">#}
{#            <i class="material-icons">compare</i>#}
{#            <span>compare</span>#}
{#            <sup>3+</sup>#}
        </a>
{#        <a href="favorite.html">#}
{#            <i class="material-icons">favorite</i>#}
{#            <span>favorite</span>#}
{#            <sup>8</sup>#}
{#        </a>#}
    </div>
    <!--=====================================
              MOBILE MENU PART END
    =======================================-->


    <!--=====================================
              USER BANNER PART START
    =======================================-->
    <section class="section-gap-75">
        <div style="background: url({% static 'images/banner/single/02.jpg' %}) no-repeat center / cover;">
            <div class="user-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="user-banner-profile">
                                <div class="user-banner-profile-avatar">
                                    <a href="{% url 'account-profile' user.id %}"><img src="{{ user.get_photo_url }}" alt="avatar"></a>
                                </div>
                                <div class="user-banner-profile-meta">
                                    <div class="user-banner-profile-name">
                                        <h3><a href="{% url 'account-profile' user.id %}">{{ user.account_name }}</a></h3>
                                        <span>Jasper Truck Sales</span>
                                    </div>
                                    <ul class="user-banner-profile-contact-list">
                                        <li><i class="material-icons">phone_in_talk</i><span>{{ user.phone_number }}</span></li>
                                        <li><i class="material-icons">feed</i><span>{{ user.username }}</span></li>
                                        <li><i class="material-icons">public</i><span>{{ user.email }}</span></li>
                                        <li><i class="material-icons">map</i><span>{{ user.city }} {{ user.state }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
{#                            <ul class="user-banner-data">#}
{#                                <li class="ads">#}
{#                                    <i class="material-icons">store</i>#}
{#                                    <h3>4334</h3>#}
{#                                    <p>total advertise</p>#}
{#                                </li>#}
{#                                <li class="star">#}
{#                                    <i class="material-icons">star</i>#}
{#                                    <h3>2112</h3>#}
{#                                    <p>total ratings</p>#}
{#                                </li>#}
{#                            </ul>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="user-banner-menu-list">
                                <li><a href="{% url 'home' %}" id="dashboard">dashboard</a></li>
                                <li><a href="{% url 'account-profile' user.id %}" id="profile">profile</a></li>
                                <li><a href="{% url 'create-sale-ads' %}" id="create-ads">create ads</a></li>
                                <li><a href="{% url 'user-posted-sale-ads' %}" id="posted-ads">posted ads</a></li>
{#                                <li><a href="favorite.html">favorites</a></li>#}
{#                                <li><a href="compare.html">compares</a></li>#}
{#                                <li><a href="review.html">reviews</a></li>#}
{#                                <li><a href="notify.html">notify</a></li>#}
                                <li><a href="{% url 'account-settings' %}" id="settings">settings</a></li>
                                <li><a href="{% url 'logout' %}">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
              USER BANNER PART END
    =======================================-->




    {% block content %}

        {% endblock %}

{% include 'footer.html' %}


    <!--=====================================
                JS LINK PART START
    =======================================-->
    <!-- JQUERY -->
    <script src="{% static 'vendor/jquery-3.5.0.min.js' %}"></script>

    <!-- BOOTSTRAP -->
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

    <!-- SLICK SLIDER -->
    <script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
    <script src="{% static 'vendor/slickslider/slick-custom.js' %}"></script>

    <!-- VENOBOX -->
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox-custom.js' %}"></script>

    <!-- CUSTOM -->
    <script src="{% static 'js/dropdown-menu.js' %}"></script>
    <script src="{% static 'js/select-option.js' %}"></script>
    <script src="{% static 'js/float-menu.js' %}"></script>
    <script src="{% static 'js/nav-tabs.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!--=====================================
                JS LINK PART END
    =======================================-->
<script>
 {% if active_posted_ads %}
     document.getElementById("posted-ads").classList.add("active")
{% elif active_create_ads %}
     document.getElementById("create-ads").classList.add("active")
{% elif active_settings %}
     document.getElementById("settings").classList.add("active")
{% elif active_profile %}
     document.getElementById("profile").classList.add("active")
{% else %}
    document.getElementById("dashboard").classList.add("active")
{% endif %}
 </script>
</body>
</html>
