<div class="row price-slider slider-arrow">
                <div class="col">
                    <div class="price-card">
                        <i class="price-icon material-icons">task_alt</i>
                        <h3 class="price-title">starter plan</h3>
                        <p class="price-subtitle">Perfect for getting start</p>
                        <ul class="price-list">
                            <li class="price-item"><span>first pricing feature type</span></li>
                            <li class="price-item"><del>second pricing feature type</del></li>
                            <li class="price-item"><del>third pricing feature type</del></li>
                            <li class="price-item"><span>four pricing feature type</span></li>
                            <li class="price-item"><span>five pricing feature type</span></li>
                        </ul>
                        <h4 class="price-amount">$150/-</h4>
                        <h5 class="price-mode">per advertise post</h5>
                        <a class="price-action" href="{% url 'sign-up' %}">get register</a>
                    </div>
                </div>

            </div>