{% load static %}
    <!--=====================================
                FOOTER PART START
    =======================================-->
    <footer class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-top">
                        <a href="#"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                        <ul>
                            <li>
                                <i class="material-icons">description</i>
                                <span>{{ footer.email_1 }}<br></span>
                            </li>
                            <li>
                                <i class="material-icons">perm_phone_msg</i>
                                <span>{{ footer.phone_number_1 }}<br></span>
                            </li>
                            <li>
                                <i class="material-icons">map</i>
                                <span>{{ footer.address_top }}<br>{{ footer.address_bottom }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="footer-widget">
                        <h3>{{ footer.about_company_title }}</h3>
                        <p>{{ footer.about_company_text }}</p>
{#                        <div class="footer-badge">#}
{#                            <img src="{% static 'images/badge/01.png' %}" alt="badge">#}
{#                            <img src="{% static 'images/badge/02.png' %}" alt="badge">#}
{#                        </div>#}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="footer-group">
                        <div class="footer-widget">
                            <h3>importants</h3>
                            <ul class="footer-list">
                                <li><a href="{% url 'user-posted-sale-ads' %}">sell vehicles</a></li>
                                <li><a href="{% url 'privacy' %}">privacy policy</a></li>
                                <li><a href="{% url 'about-us' %}">about company</a></li>
                                <li><a href="{% url 'contact' %}">contact us</a></li>
                                <li><a href="{% url 'catalog' %}">browse all</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget">
                            <h3>categories</h3>
                            <ul class="footer-list">
                                <li><a href="{% url 'inventory-grid' 'trailer' %}">Trailer</a></li>
                                <li><a href="{% url 'inventory-grid' 'truck' %}">Truck</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                    <div class="footer-widget">
                        <h3>{{ footer.news_letter_title }}</h3>
                        <p>{{ footer.news_letter_text }}</p>
{#                        <form class="footer-form">#}
{#                            <input type="email" placeholder="enter your email">#}
{#                            <button type="submit" class="material-icons">forward_to_inbox</button>#}
{#                        </form>#}
                        <ul class="footer-social">
                            <li><a href="{{ footer.facebook_url }}" class="icofont-facebook"></a></li>
                            <li><a href="{{ footer.twitter_url }}" class="icofont-twitter"></a></li>
                            <li><a href="{{ footer.linkedin_url }}" class="icofont-linkedin"></a></li>
                            <li><a href="{{ footer.whatsapp }}" class="icofont-whatsapp"></a></li>
                            <li><a href="{{ footer.youtube_url}}" class="icofont-youtube-play"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=====================================
                FOOTER PART END
    =======================================-->


    <!--=====================================
                FOOTER BOTTOM START
    =======================================-->
    <div class="footer-bottom">
        <div class="container">
            <p class="footer-text">&copy; 2022 all rights reserved by &hearts; <a href="#">Welligan</a></p>
            <a href="#" class="footer-backtop"><i class="material-icons">arrow_upward</i></a>
{#            <div class="footer-payment">#}
{#                <img src="{% static 'images/payment/01.jpg' %}" alt="payment">#}
{#                <img src="{% static 'images/payment/02.jpg' %}" alt="payment">#}
{#                <img src="{% static 'images/payment/03.jpg' %}" alt="payment">#}
{#                <img src="{% static 'images/payment/04.jpg' %}" alt="payment">#}
{#                <img src="{% static 'images/payment/05.jpg' %}" alt="payment">#}
{#                <img src="{% static 'images/payment/06.jpg' %}" alt="payment">#}
{#            </div>#}
        </div>
    </div>
    <!--=====================================
                FOOTER BOTTOM END
    =======================================-->

