{% extends 'base_home.html' %}
{% load static %}
{% block content %}
    <!--=====================================
                CATEGORY PART START
    =======================================-->
    <section class="section-gap-95">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>{{ body.part_start_title }}</h2>
                            <p>{{ body.part_start_text }}</p>
                        </div>
                        <a href="{% url 'catalog' %}" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                {% for category in category_track %}
                <div class="col">
                    <a href="{% url 'inventory-grid' category=category.name %}" class="category-card">
                        <img src="{{ category.get_image_url }}" alt="category">
                        <span>{{ category.name }} ({{ category.get_count }})</span>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--=====================================
                CATEGORY PART END
    =======================================-->





    <!--=====================================
                FEATURE PART START
    =======================================-->
    <section class="section-gap-120 feature-part">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>{{ body.part_features_title }}</h2>
                            <p>{{ body.part_features_text }}</p>
                        </div>
                        <a href="{% url 'catalog' %}" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row product-feature-slider slider-arrow">
                {% for obj in recent_objects %}
                <div class="col">
                    <div class="product-feature-card">
                        <div class="product-feature-image">
                            <img src="{{ obj.get_photo_url }}" alt="product">
                            <a href="{% url 'posted-detail' obj.id %}" class="product-feature-btn badge-hover">
                                <i class="material-icons">add</i>
                                <span class="badge arrow-right">more details</span>
                            </a>
                            <div class="product-feature-badge">
                                {% if obj.is_used %}
                                <span class="badge used">used</span>
                                 {% else %}
                                 <span class="badge new">new</span>
                                {% endif %}
{#                                <span class="badge featured">featured</span>#}
                            </div>
                        </div>
                        <div class="product-feature-meta">
                            <a href="#" class="product-feature-meta-title">{{ obj.title }}</a>
                            <div class="product-feature-meta-footer">
                                <h4>${{ obj.vehicle_price_amount }} <span>{{ obj.vehicle_price_type }}</span></h4>
                                <h3><a href="{% url 'posted-detail' obj.id %}">{{ obj.vehicle_model }}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--=====================================
                FEATURE PART END
    =======================================-->





    <!--=====================================
                BRAND PART START
    =======================================-->
    <section class="section-gap-95">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>{{ body.brand_part_title }}</h2>
                            <p>{{ body.brand_part_text }}</p>
                        </div>
                        <!-- <a href="inventory-list.html" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                {% for make in make_track %}
                <div class="col">
                    <a class="brand-card" href="{% url 'catalog' %}?brand={{ make.name }}">
                        <h6>{{ make.name }}</h6>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--=====================================
                BRAND PART END
    =======================================-->


    <!--=====================================
                  PRICE PART START
    =======================================-->
    <section class="section-gap-120" id="price-buy-banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>{{ body.price_part_title }}</h2>
                            <p>{{ body.price_part_text }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row price-slider slider-arrow">
                <div class="col">
                    <div class="price-card">
                        <i class="price-icon material-icons">task_alt</i>
                        <h3 class="price-title">ONE PLAN</h3>
                        <p class="price-subtitle">ONE TIME LISTING</p>
                         <ul class="price-list">
                            <li class="price-item"><span>No buyers Fees for buying trucks</span></li>
                            <li class="price-item"><span>No Seller Fees for selling trucks</span></li>
                            <li class="price-item"><span>No absolutes</span></li>
                            <li class="price-item"><span>Buy it now feature</span></li>
                            <li class="price-item"><span>Seller of truck receives payment directly from buyer</span></li>
                            <li class="price-item"><span>Unlimited number of listings per year</span></li>
                            <li class="price-item"><span>Low monthly subscription fee</span></li>
                        </ul>
                        <h4 class="price-amount">$500</h4>
                        <h5 class="price-mode">ONE TIME LISTING</h5>
                        <a class="price-action" href="#">buy</a>
                    </div>
                </div>
                <div class="col">
                    <div class="price-card">
                        <i class="price-icon material-icons">task_alt</i>
                        <h3 class="price-title">PREMIUM PLAN</h3>
                        <p class="price-subtitle">12 month subscription</p>
                         <ul class="price-list">
                            <li class="price-item"><span>No buyers Fees for buying trucks</span></li>
                            <li class="price-item"><span>No Seller Fees for selling trucks</span></li>
                            <li class="price-item"><span>No absolutes</span></li>
                            <li class="price-item"><span>Buy it now feature</span></li>
                            <li class="price-item"><span>Seller of truck receives payment directly from buyer</span></li>
                            <li class="price-item"><span>Unlimited number of listings per year</span></li>
                            <li class="price-item"><span>Low monthly subscription fee</span></li>
                        </ul>
                        <h4 class="price-amount">$150</h4>
                        <h5 class="price-mode">12 month</h5>
                        <a class="price-action" href="#">buy</a>
                    </div>
                </div>
                <div class="col">
                    <div class="price-card">
                        <i class="price-icon material-icons">task_alt</i>
                        <h3 class="price-title">PROFITABLE PLAN</h3>
                        <p class="price-subtitle">36 month subscription</p>
                         <ul class="price-list">
                            <li class="price-item"><span>No buyers Fees for buying trucks</span></li>
                            <li class="price-item"><span>No Seller Fees for selling trucks</span></li>
                            <li class="price-item"><span>No absolutes</span></li>
                            <li class="price-item"><span>Buy it now feature</span></li>
                            <li class="price-item"><span>Seller of truck receives payment directly from buyer</span></li>
                            <li class="price-item"><span>Unlimited number of listings per year</span></li>
                            <li class="price-item"><span>Low monthly subscription fee</span></li>
                        </ul>
                        <h4 class="price-amount">$125</h4>
                        <h5 class="price-mode">36 month</h5>
                        <a class="price-action" href="#">buy</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--=====================================
                  PRICE PART END
    =======================================-->


    <!--=====================================
                REVIEW PART START
    =======================================-->
    <section class="section-gap-120 review-part">
        <div class="container">
            <div class="row review-slider slider-arrow">
                {% for review in fake_review %}
                <div class="col">
                    <div class="review-wrap">
                        <div class="review-wrap-image">
                            <img src="{{ review.get_image_url}}" alt="review">
                        </div>
                        <div class="review-wrap-content">
                            <div class="review-wrap-meta">
                                <div class="review-wrap-video">
{#                                    <a href="#" class="material-icons">play_arrow</a>#}
{#                                    <i class="material-icons">format_quote</i>#}
                                </div>
                                <div class="review-wrap-item">
                                    <h4>{{ review.name_sale }}</h4>
                                    <h5>{{ review.review_title }}</h5>
                                </div>
                            </div>
                            <p class="review-wrap-quote">" {{ review.review_text }} "</p>
                            <h3 class="review-wrap-user">{{ review.review_author }}</h3>
                            <h5 class="review-wrap-type">{{ review.review_author_red_text }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--=====================================
                REVIEW PART END
    =======================================-->

            <!--=====================================
                RECENT PART START
    =======================================-->
    <section class="section-gap-95">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>{{ body.recent_part_title }}</h2>
                            <p>{{ body.recent_part_text }}</p>
                        </div>
                        <a href="{% url 'catalog' %}" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% include 'one_auto.html' %}

            </div>
        </div>
    </section>
    <!--=====================================
                RECENT PART END
    =======================================-->


{% endblock %}


