{% extends 'base_home.html' %}
{% load static %}
{% block content %}
    <!--=====================================
                CATEGORY PART START
    =======================================-->
    <section class="section-gap-95">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>find top categories</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <a href="inventory-list.html" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                {% for category in category_track %}
                <div class="col">
                    <a href="inventory-list.html" class="category-card">
                        <img src="{{ category.get_image_url }}" alt="category">
                        <span>{{ category.name }} ({{ category.get_count }})</span>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--=====================================
                CATEGORY PART END
    =======================================-->





    <!--=====================================
                FEATURE PART START
    =======================================-->
    <section class="section-gap-120 feature-part">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>our featured listing</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <a href="inventory-list.html" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row product-feature-slider slider-arrow">
                {% for obj in recent_objects %}
                <div class="col">
                    <div class="product-feature-card">
                        <div class="product-feature-image">
                            <img src="{{ obj.get_photo_url }}" alt="product">
                            <a href="{% url 'posted-detail' obj.id %}" class="product-feature-btn badge-hover">
                                <i class="material-icons">add</i>
                                <span class="badge arrow-right">more details</span>
                            </a>
                            <div class="product-feature-badge">
                                <span class="badge new">new</span>
                                <span class="badge featured">featured</span>
                            </div>
                        </div>
                        <div class="product-feature-meta">
                            <h3><a href="inventory-single.html">{{ obj.vehicle_make }}</a></h3>
                            <h4>${{ obj.vehicle_price_amount }}- <span>{{ obj.vehicle_price_type }}</span></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--=====================================
                FEATURE PART END
    =======================================-->





    <!--=====================================
                BRAND PART START
    =======================================-->
    <section class="section-gap-95">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>browse by top brands</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <!-- <a href="inventory-list.html" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                {% for make in make_track %}
                <div class="col">
                    <a class="brand-card" href="inventory-list.html">
                        <h6>{{ make.name }}</h6>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--=====================================
                BRAND PART END
    =======================================-->


    <!--=====================================
                  PRICE PART START
    =======================================-->
    <section class="section-gap-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>our ads pricing plans</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row price-slider slider-arrow">
                <div class="col">
                    <div class="price-card">
                        <i class="price-icon material-icons">task_alt</i>
                        <h3 class="price-title">starter plan</h3>
                        <p class="price-subtitle">Perfect for getting start</p>
                        <ul class="price-list">
                            <li class="price-item"><span>first pricing feature type</span></li>
                            <li class="price-item"><del>second pricing feature type</del></li>
                            <li class="price-item"><del>third pricing feature type</del></li>
                            <li class="price-item"><span>four pricing feature type</span></li>
                            <li class="price-item"><span>five pricing feature type</span></li>
                        </ul>
                        <h4 class="price-amount">$150/-</h4>
                        <h5 class="price-mode">per advertise post</h5>
                        <a class="price-action" href="{% url 'sign-up' %}">get register</a>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--=====================================
                  PRICE PART END
    =======================================-->


    <!--=====================================
                REVIEW PART START
    =======================================-->
    <section class="section-gap-120 review-part">
        <div class="container">
            <div class="row review-slider slider-arrow">
                <div class="col">
                    <div class="review-wrap">
                        <div class="review-wrap-image">
                            <img src="{% static 'images/review/01.jpg' %}" alt="review">
                        </div>
                        <div class="review-wrap-content">
                            <div class="review-wrap-meta">
                                <div class="review-wrap-video">
{#                                    <a href="#" class="material-icons">play_arrow</a>#}
{#                                    <i class="material-icons">format_quote</i>#}
                                </div>
                                <div class="review-wrap-item">
                                    <h4>mercedes-benz wagon</h4>
                                    <h5>see the full review</h5>
                                </div>
                            </div>
                            <p class="review-wrap-quote">" Lorem ipsum dolor sit amet consectetur adipisicing elit Expedita ut porro beatae itaque accusantium nisi Asperiores reprehenderit "</p>
                            <h3 class="review-wrap-user">miron mahmud</h3>
                            <h5 class="review-wrap-type">buyer review</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="review-wrap">
                        <div class="review-wrap-image">
                            <img src="{% static 'images/review/02.jpg' %}" alt="review">
                        </div>
                        <div class="review-wrap-content">
                            <div class="review-wrap-meta">
                                <div class="review-wrap-video">
{#                                    <a href="#" class="material-icons">play_arrow</a>#}
{#                                    <i class="material-icons">format_quote</i>#}
                                </div>
                                <div class="review-wrap-item">
                                    <h4>lamborghini huracan</h4>
                                    <h5>see the full review</h5>
                                </div>
                            </div>
                            <p class="review-wrap-quote">" Lorem ipsum dolor sit amet consectetur adipisicing elit Expedita ut porro beatae itaque accusantium nisi Asperiores reprehenderit "</p>
                            <h3 class="review-wrap-user">tahmina bonny</h3>
                            <h5 class="review-wrap-type">seller review</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                REVIEW PART END
    =======================================-->

            <!--=====================================
                RECENT PART START
    =======================================-->
    <section class="section-gap-95">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-head">
                        <div class="section-text">
                            <h2>recent add vehicles</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <a href="inventory-list.html" class="btn btn-inline">
                            <i class="material-icons">travel_explore</i>
                            <span>browse all</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for obj in object_list %}
                <div class="col">
                    <div class="product-grid-card">
                        <div class="product-grid-image">
                            <img src="{{ obj.get_photo_url }}" alt="feature">
                            <div class="product-grid-badge">
                                <span class="badge new">new</span>
                            </div>
                            <div class="product-grid-hints">
                                <i class="material-icons">collections</i>
                                <span>{{ obj.get_photo_in_gallery_count }}</span>
                            </div>
                            <div class="product-grid-overlay">
                                <div class="product-grid-vendor">
                                    <i class="material-icons">person</i>
                                    <a href="{% url 'account-profile' obj.user.id %}">by {{ obj.user.full_name }}</a>
                                </div>
{#                                <div class="product-grid-rating">#}
{#                                    <i class="material-icons">star</i>#}
{#                                    <a href="review.html">28 review</a>#}
{#                                </div>#}
                            </div>
                        </div>
                        <div class="product-grid-content">
                            <div class="product-grid-group">
                                <div class="product-grid-price">
                                    <span>${{ obj.vehicle_price_amount }}/-</span>
                                    <small>{{ obj.vehicle_price_type }}</small>
                                </div>
{#                                <div class="product-grid-action">#}
{#                                    <button type="button" title="Compare" class="compare material-icons">compare</button>#}
{#                                    <button type="button" title="Favorite" class="favorite material-icons">favorite</button>#}
{#                                </div>#}
                            </div>
                            <div class="product-grid-meta">
                                <h4><a href="inventory-single.html">{{ obj.vehicle_make }}</a></h4>
                                <ul>
                                    <li>{{ obj.country }}, {{ obj.city }}</li>
                                    <li>{{ obj.get_date_ago }}!</li>
                                </ul>
                            </div>
                            <ul class="product-grid-extra">
                                <li><i class="material-icons">construction</i><span>{{ obj.vehicle_transmission }}</span></li>
                                <li><i class="material-icons">settings</i><span>{{ obj.vehicle_mileage }} km</span></li>
                                <li><i class="material-icons">local_gas_station</i><span>{{ obj.vehicle_fuel }}</span></li>
                            </ul>
                            <div class="product-grid-btn">
                                <a href="{% url 'posted-detail' obj.id %}"><i class="material-icons">visibility</i><span>details</span></a>
{#                                <a href="https://youtu.be/VWrJkx6O0L8" class="venobox" data-autoplay="true" data-vbtype="video">#}
{#                                    <i class="material-icons">videocam</i>#}
{#                                    <span>video</span>#}
{#                                </a>#}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--=====================================
                RECENT PART END
    =======================================-->


{% endblock %}


