{% extends 'base_inventory.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}

    <!--=====================================
              MODAL OFFER PART START
    =======================================-->
    <div class="modal fade" id="modalOffer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Make an offer & price</h5>
                    <button type="button" class="material-icons" data-bs-dismiss="modal">close</button>
                </div>
                <div class="modal-product-single-form">
                    <form class="container" method="post">

                        {% csrf_token %}
                        <input type='hidden' name='vendor_email' value='{{ saleads.user.email }}'>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Enter your name</label>
                                    {{ send_vendor_mail_form.first_name }}
{#                                    <input type="text" class="form-control">#}
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Enter your email </label>
                                    {{ send_vendor_mail_form.email }}
{#                                    <input type="email" class="form-control">#}
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Enter your number</label>
                                    {{ send_vendor_mail_form.phone_number }}
{#                                    <input type="tel" class="form-control">#}
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Enter your offer price</label>
                                    {{ send_vendor_mail_form.enter_your_offer_price }}
{#                                    <input type="number" class="form-control">#}
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label class="form-label">Describe your message</label>
                                    {{ send_vendor_mail_form.describe_your_message }}
{#                                    <textarea class="form-control"></textarea>#}

                                </div>
                            </div>

                            <div class="col-xl-12">
                                <button class="form-btn" type="submit">send to vendor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
              MODAL OFFER PART END
    =======================================-->


    <!--=====================================
            MODAL CONTACTS PART START
    =======================================-->
    <div class="modal fade" id="modalContacts">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vendor contacts</h5>
                    <button type="button" class="material-icons" data-bs-dismiss="modal">close</button>
                </div>
                {% if user.get_subscription %}
                    <div class="contacts-content">
                        <div class="contacts-row">
                            <p>Country:</p>
                            <p>{{ saleads.user.country }}</p>
                        </div>
                        <div class="contacts-row">
                            <p>State:</p>
                            <p>{{ saleads.user.state }}</p>
                        </div>
                        <div class="contacts-row">
                            <p>Email:</p>
                            <a href="mailto:{{ saleads.user.email }}">{{ saleads.user.email }}</a>
                        </div>
                        <div class="contacts-row">
                            <p>Phone:</p>
                            <a href="tel:{{ saleads.user.phone_number }}">{{ saleads.user.phone_number }}</a>
                        </div>
                        <div class="contacts-row">
                            <p>First name:</p>
                            <p>{{ saleads.user.first_name }}</p>
                        </div>
                        <div class="contacts-row">
                            <p>Last name:</p>
                            <p>{{ saleads.user.last_name }}</p>
                        </div>
                    </div>
                {% else %}
                    {% include 'buy_subscrible.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--=====================================
              MODAL CONTACTS PART END
    =======================================-->


    <!--=====================================
                INVENTORY SINGLE START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="product-single-meta-group">
                        <span class="product-single-meta-price">${{ saleads.vehicle_price_amount }}</span>
                        <h2 class="product-single-meta-title">{{ saleads.title }}</h2>
                        <ul class="product-single-meta-list">
                            <li><i class="material-icons">account_circle</i><a href="{% url 'account-profile' saleads.user.id %}">by {{ saleads.user.full_name }}</a></li>
                            <li><i class="material-icons">watch_later</i><span>{{ saleads.get_date_ago }}</span></li>
{#                            <li><i class="material-icons">stars</i><button type="button" data-bs-toggle="modal" data-bs-target="#modalReview">(24) reviews</button></li>#}
                            <li><i class="material-icons">fmd_good</i><span>{{ saleads.user.country }}, {{ saleads.user.state }}, {{ saleads.user.city }}</span></li>
                        </ul>
                    </div>
                </div>
{#                <div class="col-xl-5">#}
{#                    <ul class="product-single-data">#}
{#                        <li class="view">#}
{#                            <i class="material-icons">visibility</i>#}
{#                            <h3>4334</h3>#}
{#                            <p>total view</p>#}
{#                        </li>#}
{#                        <li class="click">#}
{#                            <i class="material-icons">mouse</i>#}
{#                            <h3>3223</h3>#}
{#                            <p>total click</p>#}
{#                        </li>#}
{#                        <li class="rating">#}
{#                            <i class="material-icons">waving_hand</i>#}
{#                            <h3>2112</h3>#}
{#                            <p>total engage</p>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
                <div class="col-xl-12">
                    <div class="product-single-action">
{#                        <button type="button" class="compare" title="Compare">#}
{#                            <i class="material-icons">compare</i>#}
{#                            <span>add to compare</span>#}
{#                        </button>#}
                         <button type="button" class="product-single-btn product-single-buy" data-bs-toggle="modal" data-bs-target="#modalContacts" title="Buy at now">
                            <span>Buy at now</span>
                        </button>
                        <button type="button" class="product-single-btn product-single-offer" data-bs-toggle="modal" data-bs-target="#modalOffer" title="Make an offer">
                            <span>Make an offer</span>
                        </button>
{#                        <button type="button" class="favorite" title="Favorite">#}
{#                            <i class="material-icons">favorite</i>#}
{#                            <span>add to favorite</span>#}
{#                        </button>#}
{#                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalQuery" title="Query">#}
{#                            <i class="material-icons">help</i>#}
{#                            <span>have any query</span>#}
{#                        </button>#}
{#                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalOffer" title="Offer">#}
{#                            <i class="material-icons">local_offer</i>#}
{#                            <span>make an offer</span>#}
{#                        </button>#}
{#                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalSchedule" title="Schedule">#}
{#                            <i class="material-icons">drive_eta</i>#}
{#                            <span>test drive schedule</span>#}
{#                        </button>#}
{#                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalReport" title="Report">#}
{#                            <i class="material-icons">report</i>#}
{#                            <span>report this vehicle</span>#}
{#                        </button>#}
                    </div>
                </div>


                <div class="col-xl-12">
                    <div class="product-single-slider slider-arrow slider-dots">
                        {% for image in image_gallery %}
                            <div><img src="{{ image.get_image_url }}" alt="product"></div>
                        {% endfor %}
                    </div>
                </div>


                <div class="col-xl-12">
                    <div class="product-single-scrollspy-btns">
{#                        <a href="#overview" class="nav-link" title="Overview">#}
{#                            <i class="material-icons">visibility</i>#}
{#                            <span>overview</span>#}
{#                        </a>#}
{#                        <a href="#video" class="nav-link" title="Video">#}
{#                            <i class="material-icons">smart_display</i>#}
{#                            <span>video</span>#}
{#                        </a>#}
{#                        <a href="#features" class="nav-link" title="Features">#}
{#                            <i class="material-icons">fact_check</i>#}
{#                            <span>features</span>#}
{#                        </a>#}
{#                        <a href="#faqanswer" class="nav-link" title="Faq answer">#}
{#                            <i class="material-icons">help</i>#}
{#                            <span>faq answer</span>#}
{#                        </a>#}
{#                        <a href="#comments" class="nav-link" title="Comments">#}
{#                            <i class="material-icons">forum</i>#}
{#                            <span>comments</span>#}
{#                        </a>#}
{#                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalReview">#}
{#                            <i class="material-icons">star</i>#}
{#                            <span>reviews</span>#}
{#                        </button>#}
{#                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalContact">#}
{#                            <i class="material-icons">perm_phone_msg</i>#}
{#                            <span>contacts</span>#}
{#                        </button>#}
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="common-card" id="overview">
                        <div class="common-card-header">
                            <h4 class="common-card-header-title">vehicle overview</h4>
                        </div>
                        <div class="common-card-body">
                            <p>{{ saleads.description }}<span class="d-block mt-4">.</span></p>
                        </div>
                    </div>

{#                    <div class="common-card" id="video">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">vehicle video</h4>#}
{#                        </div>#}
{#                        <div class="common-card-body">#}
{#                            {% video saleads.video_url as my_video %}#}
{#                            <iframe class="product-single-video" src="{{ my_video.url }}"></iframe>#}
{#                            {% endvideo %}#}
{#                        </div>#}
{#                    </div>#}
                    <div class="common-card" id="features">
                        <div class="common-card-header">
                            <h4 class="common-card-header-title">vehicle features</h4>
                        </div>
                        <div class="product-single-feature-group">
                            <ul class="product-single-feature-list">
                                <li><span>condition:</span><span>{{ saleads.vehicle_condition }}</span></li>
                                <li><span>mileage:</span><span>{{ saleads.vehicle_mileage }} kmpl</span></li>
                                <li><span>Check Engine warning lights:</span><span>{{ saleads.check_engine_warning_lights }}</span></li>
                                <li><span>Wheelbase:</span><span>{{ saleads.wheel_base }}</span></li>
                                <li><span>Type of 5 wheel:</span><span>{{ saleads.type_of_5_wheel }}</span></li>
                                <li><span>Jake brake:</span><span>{{ saleads.jake_brake }}</span></li>
                                <li><span>Number of Aluminum wheels:</span><span>{{ saleads.number_of_aluminum_wheels }}</span></li>
                                <li><span>fuel type:</span><span>{{ saleads.vehicle_fuel }}</span></li>
                                <li><span>Tire size:</span><span>{{ saleads.tire_size }}</span></li>
                                <li><span>Sleeper size:</span><span>{{ saleads.sleeper_size }}</span></li>
                                <li><span>Tire percentage</span><span></span></li>
                                <li><span>Front left:</span><span>{{ saleads.tire_percent_front_left }}</span></li>
                                <li><span>Front right:</span><span>{{ saleads.tire_percent_front_right }}</span></li>
                                <li><span>Rear left:</span><span>{{ saleads.tire_percent_rear_left }}</span></li>
                                <li><span>Rear right:</span><span>{{ saleads.tire_percent_front_right }}</span></li>
                                <li><span>Rear drive tires:</span><span>{{ saleads.tire_percent_rear_drive_tires }}</span></li>
                            </ul>

{#                            <ul class="product-single-feature-list">#}
{#                                {% if saleads.power_steering %}#}
{#                                    <li><span>Power Steering:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Power Steering:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{#                                {% if saleads.vanity_mirror %}#}
{#                                    <li><span>Vanity Mirror:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Vanity Mirror:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{#                                {% if saleads.trunk_light %}#}
{#                                    <li><span>Trunk Light:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Trunk Light:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.rain_sensing %}#}
{#                                    <li><span>Rain Sensing:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Rain Sensing:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.bluetooth %}#}
{#                                    <li><span>Bluetooth:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Bluetooth:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.cruise_control %}#}
{#                                    <li><span>Cruise control:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Cruise control:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.alarm_system  %}#}
{#                                    <li><span>Alarm System:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Alarm System:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                 {% if saleads.cylinders  %}#}
{#                                    <li><span>Cylinders:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Cylinders:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.cd_player %}#}
{#                                    <li><span>Cd Player:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Cd Player:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.am_fm_radio%}#}
{#                                    <li><span>Am Fm Radio:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Am Fm Radio</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.driver_air_bag %}#}
{#                                    <li><span>Driver Air Bag:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Driver Air Bag:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.air_conditioning %}#}
{#                                    <li><span>Air Conditioning:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Air Conditioning:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.panoramic_roof %}#}
{#                                    <li><span>Panoramic Roof:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Panoramic Roof:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.integrated_phone %}#}
{#                                    <li><span>Integrated Phone:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Integrated Phone:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if saleads.sensing_lock %}#}
{#                                    <li><span>Sensing Lock:</span><i class="material-icons check">check_circle</i></li>#}
{#                                {% else %}#}
{#                                    <li><span>Sensing Lock:</span><i class="material-icons remove">remove_circle</i></li>#}
{#                                {% endif %}#}
{##}
{#                            </ul>#}
                        </div>
                    </div>
                     <div class="common-card" id="overview">
                        <div class="common-card-header">
                            <h4 class="common-card-header-title">Any know Problems with vehicle</h4>
                        </div>
                        <div class="common-card-body">
                            <p>{{ saleads.any_know_problems_with_vehicle }}<span class="d-block mt-4">.</span></p>
                        </div>
                    </div>
{#                    <div class="common-card" id="faqanswer">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">vehicle faq answer</h4>#}
{#                        </div>#}
{#                        <ul class="accordion-list">#}
{#                            <li class="accordion-item">#}
{#                                <div class="accordion-que">#}
{#                                    <h5>#1 Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h5>#}
{#                                    <i class="material-icons">expand_more</i>#}
{#                                </div>#}
{#                                <div class="accordion-ans">#}
{#                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, aut quia perspiciatis, numquam assumenda possimus delectus modi doloribus maiores voluptatum enim voluptas accusamus alias nulla nostrum, ad quidem tempore. Assumenda, doloribus dolore. Blanditiis odit ipsa repellat officia vel saepe dolorem perferendis nam obcaecati corrupti pariatur, corporis voluptatem distinctio repellendus labore!</p>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="accordion-item">#}
{#                                <div class="accordion-que">#}
{#                                    <h5>#2 Lorem ipsum dolor amet consectetur adipisicing?</h5>#}
{#                                    <i class="material-icons">expand_more</i>#}
{#                                </div>#}
{#                                <div class="accordion-ans">#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga quia asperiores aliquam cumque? Deserunt commodi saepe voluptates rem atque quisquam odit doloribus Voluptas nesciunt doloremque fuga non debitis asperiores.</p>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="accordion-item">#}
{#                                <div class="accordion-que">#}
{#                                    <h5>#3 Lorem ipsum dolor sit amet consectetur adipisicing elit Quia ipsa?</h5>#}
{#                                    <i class="material-icons">expand_more</i>#}
{#                                </div>#}
{#                                <div class="accordion-ans">#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga quia asperiores aliquam cumque? Deserunt commodi saepe voluptates rem atque quisquam odit doloribus Voluptas nesciunt doloremque fuga non debitis asperiores.</p>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="accordion-item">#}
{#                                <div class="accordion-que">#}
{#                                    <h5>#4 Lorem ipsum, dolor sit amet consectetur adipisicing elit magni dignissimos?</h5>#}
{#                                    <i class="material-icons">expand_more</i>#}
{#                                </div>#}
{#                                <div class="accordion-ans">#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga quia asperiores aliquam cumque? Deserunt commodi saepe voluptates rem atque quisquam odit doloribus Voluptas nesciunt doloremque fuga non debitis asperiores.</p>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="accordion-item">#}
{#                                <div class="accordion-que">#}
{#                                    <h5>#5 Lorem ipsum dolor sit amet consectetur adipisicing temporibus?</h5>#}
{#                                    <i class="material-icons">expand_more</i>#}
{#                                </div>#}
{#                                <div class="accordion-ans">#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga quia asperiores aliquam cumque? Deserunt commodi saepe voluptates rem atque quisquam odit doloribus Voluptas nesciunt doloremque fuga non debitis asperiores.</p>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="common-card" id="comments">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">vehicle comments (03)</h4>#}
{#                        </div>#}
{#                        <ul class="comment-list">#}
{#                            <li class="comment-item">#}
{#                                <div class="comment-group">#}
{#                                    <div class="comment-head">#}
{#                                        <div class="comment-user">#}
{#                                            <a class="comment-media" href="#">#}
{#                                                <img src="images/avatar/01.jpg" alt="avatar">#}
{#                                            </a>#}
{#                                            <div class="comment-meta">#}
{#                                                <h5>mahmudul hasan</h5>#}
{#                                                <span>02 february 2022</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="comment-widget">#}
{#                                            <a class="comment-reply" href="#commentForm">#}
{#                                                <i class="material-icons">reply</i>#}
{#                                                <span>reply</span>#}
{#                                            </a>#}
{#                                            <div class="comment-action">#}
{#                                                <button type="button" class="comment-action-btn">#}
{#                                                    <i class="material-icons">more_vert</i>#}
{#                                                </button>#}
{#                                                <div class="comment-action-list">#}
{#                                                    <a href="#"><i class="material-icons">edit</i><span>edit</span></a>#}
{#                                                    <a href="#"><i class="material-icons">delete</i><span>delete</span></a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="comment-body">#}
{#                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo nostrum dolore fugiat ducimus labore debitis unde autem recusandae? Eius harum tempora quis minima, adipisci natus quod magni omnis quas.</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <ul>#}
{#                                    <li>#}
{#                                        <div class="comment-group">#}
{#                                            <div class="comment-head">#}
{#                                                <div class="comment-user">#}
{#                                                    <a class="comment-media" href="#">#}
{#                                                        <img src="images/avatar/02.jpg" alt="avatar">#}
{#                                                    </a>#}
{#                                                    <div class="comment-meta">#}
{#                                                        <h5>tahmina bonny</h5>#}
{#                                                        <span><b>vendor</b> 02 february 2022</span>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="comment-widget">#}
{#                                                    <a class="comment-reply" href="#commentForm">#}
{#                                                        <i class="material-icons">reply</i>#}
{#                                                        <span>reply</span>#}
{#                                                    </a>#}
{#                                                    <div class="comment-action">#}
{#                                                        <button type="button" class="comment-action-btn">#}
{#                                                            <i class="material-icons">more_vert</i>#}
{#                                                        </button>#}
{#                                                        <div class="comment-action-list">#}
{#                                                            <a href="#"><i class="material-icons">edit</i><span>edit</span></a>#}
{#                                                            <a href="#"><i class="material-icons">delete</i><span>delete</span></a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="comment-body">#}
{#                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo nostrum dolore fugiat ducimus labore debitis unde autem recusandae? Eius harum tempora quis minima, adipisci natus quod magni omnis quas.</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <ul>#}
{#                                            <li>#}
{#                                                <div class="comment-group">#}
{#                                                    <div class="comment-head">#}
{#                                                        <div class="comment-user">#}
{#                                                            <a class="comment-media" href="#">#}
{#                                                                <img src="images/avatar/01.jpg" alt="avatar">#}
{#                                                            </a>#}
{#                                                            <div class="comment-meta">#}
{#                                                                <h5>mahmudul hasan</h5>#}
{#                                                                <span>02 february 2022</span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="comment-widget">#}
{#                                                            <a class="comment-reply" href="#commentForm">#}
{#                                                                <i class="material-icons">reply</i>#}
{#                                                                <span>reply</span>#}
{#                                                            </a>#}
{#                                                            <div class="comment-action">#}
{#                                                                <button type="button" class="comment-action-btn">#}
{#                                                                    <i class="material-icons">more_vert</i>#}
{#                                                                </button>#}
{#                                                                <div class="comment-action-list">#}
{#                                                                    <a href="#"><i class="material-icons">edit</i><span>edit</span></a>#}
{#                                                                    <a href="#"><i class="material-icons">delete</i><span>delete</span></a>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="comment-body">#}
{#                                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius iure sed, delectus mollitia minima eum sit harum amet. Id, illo. Error cumque voluptates at eum.</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="comment-group">#}
{#                                            <div class="comment-head">#}
{#                                                <div class="comment-user">#}
{#                                                    <a class="comment-media" href="#">#}
{#                                                        <img src="images/avatar/03.jpg" alt="avatar">#}
{#                                                    </a>#}
{#                                                    <div class="comment-meta">#}
{#                                                        <h5>shahin chowdhury</h5>#}
{#                                                        <span>02 february 2022</span>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="comment-widget">#}
{#                                                    <a class="comment-reply" href="#commentForm">#}
{#                                                        <i class="material-icons">reply</i>#}
{#                                                        <span>reply</span>#}
{#                                                    </a>#}
{#                                                    <div class="comment-action">#}
{#                                                        <button type="button" class="comment-action-btn">#}
{#                                                            <i class="material-icons">more_vert</i>#}
{#                                                        </button>#}
{#                                                        <div class="comment-action-list">#}
{#                                                            <a href="#"><i class="material-icons">edit</i><span>edit</span></a>#}
{#                                                            <a href="#"><i class="material-icons">delete</i><span>delete</span></a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="comment-body">#}
{#                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo nostrum dolore fugiat ducimus labore debitis unde autem recusandae? Eius harum tempora quis minima, adipisci natus quod magni omnis quas.</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="comment-item">#}
{#                                <div class="comment-head">#}
{#                                    <div class="comment-user">#}
{#                                        <a class="comment-media" href="#">#}
{#                                            <img src="images/avatar/04.jpg" alt="avatar">#}
{#                                        </a>#}
{#                                        <div class="comment-meta">#}
{#                                            <h5>khadija labonno</h5>#}
{#                                            <span>02 february 2022</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="comment-widget">#}
{#                                        <a class="comment-reply" href="#commentForm">#}
{#                                            <i class="material-icons">reply</i>#}
{#                                            <span>reply</span>#}
{#                                        </a>#}
{#                                        <div class="comment-action">#}
{#                                            <button type="button" class="comment-action-btn">#}
{#                                                <i class="material-icons">more_vert</i>#}
{#                                            </button>#}
{#                                            <div class="comment-action-list">#}
{#                                                <a href="#"><i class="material-icons">edit</i><span>edit</span></a>#}
{#                                                <a href="#"><i class="material-icons">delete</i><span>delete</span></a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="comment-body">#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo nostrum dolore fugiat ducimus labore debitis unde autem recusandae? Eius harum tempora quis minima, adipisci natus quod magni omnis quas.</p>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="comment-item">#}
{#                                <div class="comment-head">#}
{#                                    <div class="comment-user">#}
{#                                        <a class="comment-media" href="#">#}
{#                                            <img src="images/avatar/05.jpg" alt="avatar">#}
{#                                        </a>#}
{#                                        <div class="comment-meta">#}
{#                                            <h5>burhan hawladar</h5>#}
{#                                            <span>02 february 2022</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="comment-widget">#}
{#                                        <a class="comment-reply" href="#commentForm">#}
{#                                            <i class="material-icons">reply</i>#}
{#                                            <span>reply</span>#}
{#                                        </a>#}
{#                                        <div class="comment-action">#}
{#                                            <button type="button" class="comment-action-btn">#}
{#                                                <i class="material-icons">more_vert</i>#}
{#                                            </button>#}
{#                                            <div class="comment-action-list">#}
{#                                                <a href="#"><i class="material-icons">edit</i><span>edit</span></a>#}
{#                                                <a href="#"><i class="material-icons">delete</i><span>delete</span></a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="comment-body">#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo nostrum dolore fugiat ducimus labore debitis unde autem recusandae? Eius harum tempora quis minima, adipisci natus quod magni omnis quas.</p>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <form class="form-container">#}
{#                            <h3 class="form-title">Write or reply your comment</h3>#}
{#                            <div class="row">#}
{#                                <div class="col-md-6 col-lg-6 col-xl-6">#}
{#                                    <div class="form-group">#}
{#                                        <input class="form-control" type="text" placeholder="Enter your name">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 col-lg-6 col-xl-6">#}
{#                                    <div class="form-group">#}
{#                                        <input class="form-control" type="text" placeholder="Enter your mail">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-12 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <textarea class="form-control" placeholder="Write your comment"></textarea>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-12 col-xl-12">#}
{#                                    <button class="form-btn" type="submit">drop your comment</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
                </div>
                <div class="col-xl-4">
                    <div class="common-card">
                        <div class="common-card-header">
                            <h4 class="common-card-header-title">vendor information</h4>
                        </div>
                        <div class="common-card-body">
                            <div class="product-single-vendor">
                                <a class="vendor-grid-cover" href="{{ saleads.user.get_photo_url }}"><img src="{% static 'images/bg/cover.jpg' %}" alt="cover"></a>
                                <a class="vendor-grid-avatar" href="{{ saleads.user.get_photo_url }}"><img src="{{ saleads.user.get_photo_url }}" alt="avatar"></a>
                                <ul class="vendor-grid-meta">
                                    <li class="profile"><i class="material-icons">account_circle</i><a href="{% url 'account-profile' user.id %}">{{ saleads.user.full_name }}</a></li>
                                    <li class="location"><i class="material-icons">map</i><span>{{ saleads.user.state }}, {{ saleads.user.city }}</span></li>
{#                                    <li class="rating"><i class="material-icons">star</i><span><b>4.9</b>/28 Ratings</span></li>#}
                                    <li class="store"><i class="material-icons">store</i><span>{{ saleads.user.account_type }}</span></li>
                                </ul>
                                <div class="vendor-grid-action">
                                    <a href="{% url 'account-profile' saleads.user.id %}">visit profile</a>
{#                                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalMessage">send message</button>#}
                                </div>
                            </div>
                        </div>
                    </div>
{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">Finance calculator</h4>#}
{#                        </div>#}
{#                        <form>#}
{#                            <div class="row">#}
{#                                <div class="col-md-6 col-lg-6 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <input type="text" class="form-control" placeholder="Vehicle Cost">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 col-lg-6 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <input type="text" class="form-control" placeholder="Down Payment">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 col-lg-6 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <input type="text" class="form-control" placeholder="Annual Interest Rate">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 col-lg-6 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <select class="form-select">#}
{#                                            <option selected>Payments Frequency</option>#}
{#                                            <option value="1">weekly</option>#}
{#                                            <option value="2">monthly</option>#}
{#                                            <option value="3">yearly</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <button type="submit" class="form-btn">payment calculate</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xl-12">#}
{#                                    <ul class="product-single-calculate-list">#}
{#                                        <li><span>payment number</span><span>$70</span></li>#}
{#                                        <li><span>payment amount</span><span>$95.34</span></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">top categories</h4>#}
{#                        </div>#}
{#                        <div class="product-single-category">#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/minivan.png" alt="category">#}
{#                                <span>minivan (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/convertible.png" alt="category">#}
{#                                <span>convertible (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/coupe.png" alt="category">#}
{#                                <span>coupe (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/pickup.png" alt="category">#}
{#                                <span>pickup (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/sedan.png" alt="category">#}
{#                                <span>sedan (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/sports.png" alt="category">#}
{#                                <span>sports (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/suv.png" alt="category">#}
{#                                <span>suv/muv (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/wagon.png" alt="category">#}
{#                                <span>wagon (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/jeep.png" alt="category">#}
{#                                <span>jeep (24)</span>#}
{#                            </a>#}
{#                            <a href="inventory-list.html" class="category-card">#}
{#                                <img src="images/category/Hatchback.png" alt="category">#}
{#                                <span>Hatchback (24)</span>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">top brands</h4>#}
{#                        </div>#}
{#                        <div class="product-single-brand">#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/01.png" alt="brand">#}
{#                                <h6>tesla</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/02.png" alt="brand">#}
{#                                <h6>nissan</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/03.png" alt="brand">#}
{#                                <h6>mercedes</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/04.png" alt="brand">#}
{#                                <h6>toyota</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/05.png" alt="brand">#}
{#                                <h6>audi</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/06.png" alt="brand">#}
{#                                <h6>lamborghini</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/07.png" alt="brand">#}
{#                                <h6>bugatti</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/08.png" alt="brand">#}
{#                                <h6>ferrari</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/09.png" alt="brand">#}
{#                                <h6>bmw</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                            <a class="brand-card" href="inventory-list.html">#}
{#                                <img src="images/brand/10.png" alt="brand">#}
{#                                <h6>porsche</h6>#}
{#                                <p>(24) vehicles</p>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">share this vehicle</h4>#}
{#                        </div>#}
{#                        <div class="common-card-body">#}
{#                            <ul class="product-single-social-list">#}
{#                                <li><a href="#" class="icofont-facebook facebook"></a></li>#}
{#                                <li><a href="#" class="icofont-twitter twitter"></a></li>#}
{#                                <li><a href="#" class="icofont-linkedin linkedin"></a></li>#}
{#                                <li><a href="#" class="icofont-instagram instagram"></a></li>#}
{#                                <li><a href="#" class="icofont-pinterest pinterest"></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                INVENTORY SINGLE END
    =======================================-->
{% endblock %}