{% extends 'base_inventory.html' %}
{% load static %}
{% block content %}
    <!--=====================================
                INVENTORY GRID START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row content-reverse">
                <div class="col-lg-4 col-xl-3">
                    <div class="product-widget">
                        <h6 class="product-widget-title">Filter by Price</h6>
                        <form id="form-search">
                            <div class="product-widget-group">
                                <input type="number" placeholder="Min - 00" id="priceMin" name="price_min">
                                <input type="number" placeholder="Max - 100K" id="priceMax" name="price_max">
                            </div>
                            <button class="product-widget-btn" id="btn-search">
                                <i class="material-icons">search</i>
                                <span>search</span>
                            </button>

                    </div>

                    <div class="product-widget">
                        <h6 class="product-widget-title">Filter by Model</h6>

                            <input class="product-widget-search" type="text" placeholder="Search..." id="check-model-filter">
                            <ul class="product-widget-list product-widget-scroll">
                                {% for model in models %}
                                <li id="cat{{ model.id }}">
                                    <div class="product-widget-content">
                                        <input type="checkbox" id="model{{ model.id }}" name="model" value="{{ model.id }}">
                                        <label for="model{{ model.id }}">{{ model.name }}</label>
                                    </div>
                                    <span class="product-widget-number">({{ model.get_count }})</span>
                                </li>
                                {% endfor %}

                            </ul>
                            <button class="product-widget-btn" id="clear-model-filter" type="button">
                                <i class="material-icons">delete</i>
                                <span>clear filter</span>
                            </button>

                    </div>
                {% if is_catalog %}
                    <div class="product-widget">
                        <h6 class="product-widget-title">Filter by Category</h6>

                            <input class="product-widget-search" type="text" placeholder="Search..." id="check-category-filter">
                            <ul class="product-widget-list product-widget-scroll">
                                {% for category in categories %}
                                <li>
                                    <div class="product-widget-content">
                                        <input type="checkbox" id="category{{ category.id }}" name="category" value="{{ category.id }}">
                                        <label for="category{{ category.id }}">{{ category.name }}</label>
                                    </div>
                                    <span class="product-widget-number">({{ category.get_count }})</span>
                                </li>
                                {% endfor %}

                            </ul>
                            <button class="product-widget-btn" type="button" id="clear-category-filter">
                                <i class="material-icons">delete</i>
                                <span>clear filter</span>
                            </button>
                        </form>
                    </div>
                {% endif %}
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="top-filter">
                                <div class="filter-show">
                                    <label class="filter-label">Show :</label>
                                    <select class="form-select filter-select">
                                        <option value="1">12</option>
                                        <option value="2">24</option>
                                        <option value="3">36</option>
                                    </select>
                                </div>
                                <div class="filter-short">
                                    <label class="filter-label">Short by :</label>
                                    <select class="form-select filter-select">
                                        <option selected>default</option>
                                        <option value="3">trending</option>
                                        <option value="1">featured</option>
                                        <option value="2">recommend</option>
                                    </select>
                                </div>
{#                                <div class="filter-action">#}
{#                                    <a href="inventory-grid.html" title="Grid View" class="material-icons active">grid_view</a>#}
{#                                    <a href="inventory-list.html" title="List View" class="material-icons">list_alt</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
                    {% include 'one_auto.html' %}

                    </div>

                    {% include 'pagination.html' %}


                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                INVENTORY GRID END
    =======================================-->
{% endblock %}