{% extends 'base_inventory.html' %}
{% load static %}
{% block content %}
    <!--=====================================
                PRIVACY PART START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="privacy-group">
                        <h4 class="privacy-title">HOW YOU CAN ACCESS OR CORRECT INFORMATION</h4>
                        <p class="privacy-descrip">You may obtain information regarding the personally identifiable information that you provide or we collect about you via our Website to view and correct any factual errors in such information. Access to personally identifiable information that you provide or we collect via our Website may be accessible for a limited period of time after the point of collection. For example, if you created a password-protected account within our Website, you may return to that portion of the Website to review the personally identifiable information you provided. Alternatively, you may request information about or corrections to your personally identifiable information by sending an e-mail or letter to the street or e-mail address for our business headquarters, the contact information for which can be found via the "Contacts" page accessible on our Website homepage.</p>
                    </div>
                     <div class="privacy-group">
                        <h4 class="privacy-title">USAGE TERMS</h4>
                        <p class="privacy-descrip">Access to and use of this Website is subject to compliance with this Website's Terms and Conditions.</p>
                    </div>
                     <div class="privacy-group">
                        <h4 class="privacy-title">UNSUBSCRIBE REQUESTS</h4>
                        <p class="privacy-descrip">To unsubscribe from email communications from us, please send us an email with "UNSUBSCRIBE" in the subject line.</p>
                    </div>
                     <div class="privacy-group">
                        <h4 class="privacy-title">SPECIAL NOTE FOR PARENTS</h4>
                        <p class="privacy-descrip">This Website you are visiting is a general audience website and was not designed for children. We are not responsible for any access or use of this Website by children. (By way of example, this Website is not intended to sell products for purchase by children.) If you are under 18, you may use our Website only with the involvement of a parent or guardian.</p>
                    </div>
                     <div class="privacy-group">
                        <h4 class="privacy-title">DISCLAIMER</h4>
                        <p class="privacy-descrip">As noted in this Privacy Policy, we take our commitment to protection of your privacy seriously. However, NOTHING IN THIS PRIVACY POLICY IS INTENDED TO CREATE OR PROVIDE ANY RIGHT OF ACTION FOR VIOLATION.</p>
                    </div>
                     <div class="privacy-group">
                        <h4 class="privacy-title">MISCELLANEOUS</h4>
                        <p class="privacy-descrip">Access to and use of this Website is subject to compliance with this Website's Terms and Conditions.</p>
                         <p>This Privacy Policy is governed by the laws of the state in which our business is located, and you hereby consent to the exclusive jurisdiction and venue of state and federal courts located in that state for all disputes arising out of or relating to this Privacy Policy.

You agree that any and all causes of action arising out of or relating to this Privacy Policy shall be resolved individually, without resort to any form of class action.

If for any reason a court of competent jurisdiction finds any provision of this Privacy Policy, or portion thereof, to be unenforceable, all other terms and conditions shall remain in full force and effect.

We reserve the right to amend, change, modify, add to or delete this Privacy Policy from time to time in any manner and for any reason. Such amendments, changes, modifications, additions or deletions shall be effective immediately upon posting, unless otherwise indicated.</p>
                    </div>
                     <div class="privacy-group">
                        <h4 class="privacy-title">QUESTIONS</h4>
                        <p class="privacy-descrip">If you have any questions, please contact us at our business headquarters, the contact information for which can be found via the "Contacts" page accessible on our Website homepage.

Disclaimer: Please note that all information, photos and prices are subject to change or correction without notice. All liability expressly disclaimed.
</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                PRIVACY PART END
    =======================================-->
{% endblock %}
