{% extends 'base_inventory.html' %}
{% load static %}
{% block content %}
    <!--=====================================
                PRIVACY PART START
    =======================================-->
    <section class="section-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="privacy-group">
                        <h4 class="privacy-title">Lorem ipsum dolor sit amet consectetur voluptatibus!</h4>
                        <p class="privacy-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod dignissimos vel explicabo aut nihil natus, sequi omnis fugiat quasi similique dolorem voluptatum velit numquam nulla voluptatem, ducimus hic? Quos, sunt est? Deleniti exercitationem quod, architecto officiis illo nesciunt magnam voluptatem consectetur, non deserunt soluta modi sint eaque beatae nobis.</p>
                    </div>
                    <div class="privacy-group">
                        <h4 class="privacy-title">Quisquam nesciunt blanditiis alias fugit pariatur porro ab soluta.</h4>
                        <p class="privacy-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod dignissimos vel explicabo aut nihil natus, sequi omnis fugiat quasi similique dolorem voluptatum velit numquam nulla voluptatem, ducimus hic? Quos, sunt est? Deleniti exercitationem quod, architecto officiis illo nesciunt magnam voluptatem consectetur, non deserunt soluta modi sint eaque beatae nobis.</p>
                    </div>
                    <div class="privacy-group">
                        <h4 class="privacy-title">Exercitationem ullam a rationeuos mollitia cumque libero exercitationem.</h4>
                        <p class="privacy-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod dignissimos vel explicabo aut nihil natus, sequi omnis fugiat quasi similique dolorem voluptatum velit numquam nulla voluptatem, ducimus hic? Quos, sunt est? Deleniti exercitationem quod, architecto officiis illo nesciunt magnam voluptatem consectetur, non deserunt soluta modi sint eaque beatae nobis.</p>
                    </div>
                    <div class="privacy-group">
                        <h4 class="privacy-title">Tempore beatae, quam explicabo vero aperiam laudantium! Rerum?</h4>
                        <p class="privacy-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod dignissimos vel explicabo aut nihil natus, sequi omnis fugiat quasi similique dolorem voluptatum velit numquam nulla voluptatem, ducimus hic? Quos, sunt est? Deleniti exercitationem quod, architecto officiis illo nesciunt magnam voluptatem consectetur, non deserunt soluta modi sint eaque beatae nobis.</p>
                    </div>
                    <div class="privacy-group">
                        <h4 class="privacy-title">Voluptas quasi corporis neque in omnis dicta nihil natus</h4>
                        <p class="privacy-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod dignissimos vel explicabo aut nihil natus, sequi omnis fugiat quasi similique dolorem voluptatum velit numquam nulla voluptatem, ducimus hic? Quos, sunt est? Deleniti exercitationem quod, architecto officiis illo nesciunt magnam voluptatem consectetur, non deserunt soluta modi sint eaque beatae nobis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                PRIVACY PART END
    =======================================-->
{% endblock %}
