{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--=====================================
              BREADCRUMB PART START
    =======================================-->
    <section class="mc-breadcrumb">
        <div class="container">
            <div class="mc-breadcrumb-group">
                <h2 class="mc-breadcrumb-title">user profile</h2>
                <ul class="mc-breadcrumb-list">
                    <li class="mc-breadcrumb-item"><a class="mc-breadcrumb-link" href="{% url 'home' %}">home</a></li>
                    <li class="mc-breadcrumb-item"><a class="mc-breadcrumb-link" href="{% url 'catalog' %}">catalog</a></li>
                    <li class="mc-breadcrumb-item">profile</li>
                </ul>
            </div>
        </div>
    </section>
    <!--=====================================
              BREADCRUMB PART END
    =======================================-->


    <!--=====================================
                PROFILE PART START
    =======================================-->

    <section class="section-gap-75">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="profile-cover-image">
                        <img src="{% static 'images/bg/cover.jpg' %}" alt="cover">
                    </div>
                    <div class="common-card">
                        <div class="common-card-header">
                            <h4 class="common-card-header-title">about this vendor</h4>
                        </div>
                        <div class="common-card-body">
                            <div class="profile-article">
                                <p>{{ account.about_vendor }}<span></span></p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 col-xl-4">
{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">Membership status</h4>#}
{#                        </div>#}
{#                        <div class="common-card-body">#}
{#                            <ul class="profile-specify-list">#}
{#                                <li><span>Joined:</span><span>{{ account.created_at }}</span></li>#}
{#                                <li><span>type:</span><span>{{ account.account_type }}</span></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="common-card">
                        <div class="common-card-header">
                            <h4 class="common-card-header-title">contact address</h4>
                        </div>
                        <div class="common-card-body">
                            <ul class="profile-specify-list">
                                <li><span>first name:</span><span>{{ account.account_name }}</span></li>
                                <li><span>last name:</span><span>{{ account.last_name }}</span></li>
                                <li><span>company:</span><span>{{ account.company }}</span></li>
                                <li><span>country:</span><span>{{ account.country }}</span></li>
                                <li><span>state:</span><span>{{ account.state }}</span></li>
                                {% if is_my_account or user.get_subscription or user.is_superuser %}
                                <li><span>city:</span><span>{{ account.city }}</span></li>
                                <li><span>phone number:</span><span>{{ account.phone_number }}</span></li>
                                <li><span>email:</span><span>{{ account.email }}</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">email this vendor</h4>#}
{#                        </div>#}
{#                        <form>#}
{#                            <div class="row">#}
{#                                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <input type="text" class="form-control" placeholder="enter your name">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <input type="email" class="form-control" placeholder="enter your email">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">#}
{#                                    <div class="form-group">#}
{#                                        <textarea class="form-control" placeholder="describe your message"></textarea>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">#}
{#                                    <button class="form-btn" type="submit">send email</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}

{#                    <div class="common-card">#}
{#                        <div class="common-card-header">#}
{#                            <h4 class="common-card-header-title">social media</h4>#}
{#                        </div>#}
{##}
{#                        <div class="common-card-body">#}
{#                            <ul class="profile-social-list">#}
{#                                {% if myuser.facebook %}#}
{#                                <li><a href="{{ myuser.facebook }}" class="icofont-facebook facebook"></a></li>#}
{#                                {% endif %}#}
{#                                {% if myuser.twitter %}#}
{#                                    <li><a href="{{ myuser.twitter }}" class="icofont-twitter twitter"></a></li>#}
{#                                {% endif %}#}
{#                                {% if myuser.instagram %}#}
{#                                <li><a href="{{ myuser.instagram }}" class="icofont-instagram instagram"></a></li>#}
{#                                {% endif %}#}
{#                                {% if myuser.pinterest %}#}
{#                                <li><a href="{{ myuser.pinterest }}" class="icofont-pinterest pinterest"></a></li>#}
{#                                {% endif %}#}
{#                                {% if myuser.linkedin %}#}
{#                                    <li><a href="{{ myuser.linkedin }}" class="icofont-linkedin linkedin"></a></li>#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

            </div>
        </div>
        </div>
    </section>

    <!--=====================================
                PROFILE PART END
    =======================================-->
{% endblock %}