{% extends 'base_register.html' %}
{% load static %}
{% block content %}
        <form class="auth-form" method="post">
            <div class="auth-form-content">
                    <h3 class="auth-form-title">Thank you for registering TRACK SITE account!</h3>
                    <h3 class="auth-form-title">Please follow the instructions we just emailed for you</h3>

                <div class="auth-form-or"><span>or</span></div>
                <p class="auth-form-text">Already have an account? <a href="{% url 'login' %}">login here</a></p>
            </div>
        </form>
{% endblock %}


