{% extends 'base_register.html' %}
{% load static %}
{% block content %}
        <form class="auth-form" method="post">
            <div class="auth-form-content">
                <h3 class="auth-form-title">Login</h3>
                {% csrf_token %}
                <div class="form-group">{{ form.username }}</div>
                <div class="form-group">{{ form.password }}</div>

                <button type="submit" class="form-btn">login</button>
                <div class="auth-form-or"><span>or</span></div>
                <p class="auth-form-text">Don't have an account yet? <a href="{% url 'sign-up' %}">Sign up here</a></p>
                <p class="auth-form-text">Forgot your password? <a href="{% url 'reset-password' %}">Reset password here</a></p>
            </div>
        </form>
{% endblock %}