.pagination {
    align-items: center;
    justify-content: center;
}

.page-item {
    margin-#{$start-direction}: 10px;

    &:first-child,
    &:last-child {
        .page-link { border-radius: 50%; }
    }

    .active {
        color: $white;
        background: $primary;
    }
}

.page-link {
    @include center(40px, 40px, 40px, 50%);
    @include font(14px, 500);
    border: none;
    padding: 0px;
    color: $text;
    background: $chalk;

    &:hover {
        color: $white;
        background: $primary;
    }

    &:focus { box-shadow: none; }
    &.material-icons { font-size: 22px; }
}


@media (max-width: 991px) {
    .page-link {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

@media (max-width: 767px) {
    .page-item { margin: 0px 5px; }
}