.dashboard-announce-list {
    list-style-type: disc;
    margin-bottom: 25px;

    &:last-child { margin-bottom: 0px; }

    li {
        margin-#{$start-direction}: 20px;
        margin-bottom: 20px;

        &:last-child { margin-bottom: 0px; }

        b { font-weight: 600; }

        a {
            font-weight: 500;
            @include transition;

            &:hover { text-decoration: underline; }
        }
    }
}

.dashboard-announce-date {
    @include font(13px, 500);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.dashboard-specify-list {
    li {
        @include flex(center, space-between);
        border-bottom: 1px solid $border;
        padding: 15px 0px;

        &:first-child { border-top: none; padding-top: 0px; }
        &:last-child { border-bottom: none; padding-bottom: 0px; }

        span {
            font-size: 14px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            white-space: nowrap;

            &:last-child { font-weight: 500; }
        }
    }
}

.dashboard-article {
    p { 
        line-height: 30px;

        span { 
            margin-top: 30px; 
            display: block;
        }
    }
}

.dasboard-resource-list {
    li {
        display: flex;
        margin-bottom: 12px;

        &:last-child { margin-bottom: 0px; }

        i {
            font-size: 20px;
            margin-top: 3px;
            margin-#{$end-direction}: 10px;
            color: $primary;
        }

        a {
            color: $text;
            @include transition;

            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}