.favorite-title,
.favorite-item {
    display: grid;
    grid-gap: 20px;
    grid-template: auto / 3fr 5fr 2fr 1fr;
}

.favorite-title {
    h6 {
        letter-spacing: 0.3px;
        @include font(14px, 600);
        text-transform: uppercase;
        padding: 16px 20px;
        border-radius: 6px;
        background: $chalk;
    }
}

.favorite-item {
    border-bottom: 1px solid $border;
    padding: 25px 0px;

    &:last-child { border-bottom: none; }
}

.favorite-media {
    position: relative;
    align-self: center;
    margin: 0px 20px;

    img {
        width: 100%;
        border-radius: 6px;
    }
}

.favorite-badge {
    position: absolute;
    top: 12px;
    #{$start-direction}: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .badge { width: fit-content; }
}

.favorite-hints {
    @include flex (center, center);
    position: absolute;
    top: 12px;
    #{$end-direction}: 12px;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 4px;
    color: $chalk;
    background: rgba($dark, .8);

    i {
        font-size: 18px;
        margin-#{$end-direction}: 3px;
    }
}

.favorite-info {
    margin: 0px 20px;
    align-self: center;

    h3 {
        margin-bottom: 10px;

        a { 
            color: $heading; 
            @include transition;

            &:hover { color: $primary; }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 18px;

        li {
            display: flex;
            margin-bottom: 4px;
            margin-#{$end-direction}: 18px;

            i {
                font-size: 20px;
                line-height: 24px;
                margin-#{$end-direction}: 5px;
                color: var(--bs-gray-600)
            }

            a,
            span {
                font-size: 16px;
                text-transform: capitalize;
            }

            a {
                color: $text;
                @include transition;

                &:hover { text-decoration: underline; }
            }
        }
    }

    h5 {
        @include font(22px, 700);
        font-family: sans-serif;
        color: $primary;

        small {
            @include font(15px, 400);
            color: $text;
        }
    }
}

.favorite-widget {
    @include grid(13px, 2);
    align-self: center;
    margin: 0px 20px;

    a,
    button {
        padding: 10px 12px;
        border-radius: 6px;
        @include flex(center, center);
        color: $text;
        background: var(--bs-gray-300);
        @include transition;

        &:hover {
            color: $white;
            background: $primary;
        }

        i { font-size: 20px; }

        span {
            margin-#{$start-direction}: 6px;
            text-transform: uppercase;
            @include font(13px, 500);
            letter-spacing: 0.5px;
        }
    }

    .compare.active {
        color: $white;
        background: $purple;
    }

    .favorite.active {
        color: $white;
        background: $red;
    }
}

.favorite-close {
    align-self: center;
    justify-self: center;
    color: $text;
    @include transition;

    i { font-size: 30px; }
    &:hover {  color: $primary; }
}


@media (max-width: 1199px) {
    .favorite-media,
    .favorite-info,
    .favorite-widget {
        margin: 0px;
    }
}

@media (max-width: 767px) {
    .favorite-item { grid-template: auto / 1fr; }
}

@media (max-width: 991px) {
    .favorite-title { display: none; }
    .favorite-widget { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 768px) and (max-width: 991px) {
    .favorite-item { grid-template: auto / 2fr 2fr; }

    .favorite-media,
    .favorite-info,
    .favorite-widget {
        align-self: flex-start;
    }
}


